
body{
   

    font-family: 'Open Sans', sans-serif;
    background-color: whitesmoke;
    position: relative;
     min-height: 100vh;
}


/* home & contacts ========================================================================= */
.topnav{
    z-index: 2;
    position:sticky;
    top: 0;
    box-shadow: 3px 3px 20px #0e0e0e2f;
    

    padding: 5px;
    background-color: #ff8e51;
   
   

    font-size: 20px;
    font-weight:bolder;
    display: flex;
    justify-content: space-evenly; 
}
.topnav a{
    text-decoration: none;
    color: black;
     font-size: 3vw;
}
/* TOP ========================================================================= */
.top_container{
    box-shadow: 3px 3px 20px #888888;
    
    width: 100%;
    min-height: 50px;

    position: relative;
    text-align: center;
    flex-direction: column;
    background-image: url("top.bmp");
    background-color:black;
    background-repeat: no-repeat, repeat;
    
    background-size:cover; 

    height: 100%;
    align-items: center;
    
    
    overflow: auto;

    min-height: 120px;
    align-content: center;
    display: flex;
    justify-content: center;
   
}
.top_container h1{
    
    color: white;
    text-align: center;
    align-content: center;
    padding: 1%;
    font-family: 'Oswald', sans-serif;
    text-shadow: 3px 3px 3px black;

    margin-top: 3%;
    margin-bottom: 0px;
    font-size: 6.5vw;
    
}
.top_container h3{
    color: white;
    font-size: 3.7vw;
    margin-top: 0.4px;
    

    font-family: 'Oswald', sans-serif;
    text-shadow: 3px 3px 3px black;
}

.top_phone{
    
    color: white;
    
}
.bottom_phone{
    color: rgb(121, 116, 116);
    
}
.bottom_phone:hover {
    color: #888888;
}


a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}

a:hover{
color: white;
cursor: pointer;
}

/* First paragraph ========================================================================= */
.first{
   
    
    z-index: 1;

    margin-top: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
    margin-right: 0px;
    


    display: flex;
    justify-content: center;
    align-items: center;


    color: white;
    padding-left: 5%;
    padding-right: 5%;
    min-height: 75px;
    padding-top: 1%;
    padding-bottom: 1%;

    box-shadow: 3px 3px 20px #888888;

  
   
 background-image: url("blurbred-small.jpg");
    background-color: #f74d27;
    background-repeat: no-repeat;
    
    background-size: 100% 100%; 
    
    
    
}
.first h3{
    text-align: center;
    line-height: 1.5;
    font-size: 2.6vw;
    
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 1%;
    margin-right: 1%;
  
 
}


    



/* Second paragraph ========================================================================= */
.second{
    margin-bottom: 25px;
    margin-left: 5px;
    margin-right: 5px;
    min-height: 200px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    overflow: auto;

    min-height: 200px;

    background-color: white;
    color: rgb(121, 116, 116);
    
    box-shadow: 3px 3px 20px #888888;

}
.fa-fire-extinguisher{
    font-size: 400%;
}


.second img{
    border-radius: 0px 0px 0px 0px;
    min-height: 200px;
    flex-grow: 1;

    width: 40%;
    height: 100%;
    
    object-fit: cover;

    border-radius: 0px 00px 0px 400px;
    


}
.second h3{
    flex-grow: 2;

    min-width: 40%;
    position: relative;
 
 
     margin-left: auto;
     text-align: center;
     padding-top: 10px;
     padding-bottom: 25px;
     padding-left: 30px;
     padding-right: 30px;

     font-size: 2.7vw;
   
    }

 /* Third paragrap ========================================================================= */

 .third{
    margin-bottom: 25px;
    margin-left: 5px;
    margin-right: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  
    overflow: auto;

    min-height: 200px;


    background-color:white;
    color: rgb(121, 116, 116);

    box-shadow: 3px 3px 20px #888888;


}
.fa-clipboard{
    font-size: 400%;
}

.third img{

    
    border-radius: 0px 0px 0px 0px;
    min-height: 200px;
    flex-grow: 1;

    width: 40%;
    height: 100%;
    
    object-fit: cover;

    border-radius: 00px 0px 400px 0px;
    
    }
.third h3{
    flex-grow: 2;

    min-width: 40%;
    position: relative;
 
 
     margin-left: auto;
     text-align: center;
     padding-top: 10px;
     padding-bottom: 25px;
     padding-left: 30px;
     padding-right: 30px;

     font-size: 2.7vw;
 
}

  /* photoes ================================================================================== */
.photos{
    margin-top: 60px;
 display: flex;
 align-items: center;
 align-content: center;
 flex-wrap: wrap;
 flex-direction: row;
 justify-content: space-evenly;
 
 
} 

.image2{
    
    margin: 0mm;
    
    border-radius: 30px;
    box-shadow: 3px 3px 20px #888888;

    

 }

 .w3-content,.w3-auto{margin-left:auto;margin-right:auto}.w3-content{max-width:980px}.w3-auto{max-width:1140px}
 .w3-display-container:hover .w3-display-hover{display:block}.w3-display-container:hover span.w3-display-hover{display:inline-block}.w3-display-hover{display:none}
 .w3-display-container{position:relative}


 .w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
 .w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}




  /* logos =================================================================================================== */
.image1{
    padding: 10px;
    width: auto;
    height: 90px;
}

.logos{

    margin-left: auto;
    margin-right: auto; 
    margin-top: 50px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;

    background-image: url("first_background2.bmp");
    background-color:black;
    background-repeat: no-repeat, repeat;
    
    background-size:cover; 
   

  
}
.logos:hover{
    cursor: pointer;
}



/* footer =================================================================================================== */
footer{
   
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color:#ff6739;
    opacity: 100%;
    color: white;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer div{
    text-align: center;
    

}

   

.contacts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
    justify-content: space-around;
    align-items: baseline;
    align-content: space-around;
    
    

}

.phone{

display: flex;
flex-direction: column;
flex-wrap: wrap;

justify-content: space-around;
align-items: flex-start;
align-content: space-around;
color: rgb(121, 116, 116);
font-size: 2.5vw;



margin: 2%;
}

.address{
    
    color: rgb(121, 116, 116);
    font-size: 2.5vw;

}

.fa-envelope-open-text .fa-phone .fa-map-marker-alt{
    font-size: 30px;
}

.fa-envelope-open-text{
    font-size: 30px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    font-size: 7vw;
    padding: 3px;
  font-size: 15px;
  width: 20px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  margin: 1px 0px;
  }

  .fa:hover {
    opacity: 0.7;
}





/*larger sizes ===============================================================================================================================================================================================*/
/*larger sizes ===============================================================================================================================================================================================*/
@media (min-width: 800px){

    body{
   

        font-family: 'Open Sans', sans-serif;
        background-color: whitesmoke;
        position: relative;
         min-height: 100vh;
    }
    
    
    /* home & contacts ========================================================================= */
    .topnav{
        z-index: 2;
        position:sticky;
        top: 0;
        box-shadow: 3px 3px 20px #0e0e0e2f;
        
    
        padding: 10px;
        background-color: #ff8e51;
       
       
    
        font-size: 20px;
        font-weight:bolder;
        display: flex;
        justify-content: space-evenly; 
    }
    .topnav a{
        text-decoration: none;
        color: black;
        font-size: 20px;
    }
    /* TOP ========================================================================= */
    .top_container{
        box-shadow: 3px 3px 20px #888888;
        
        width: 100%;
    
        position: relative;
        text-align: center;
        flex-direction: column;
        background-image: url("top.bmp");
        background-color:black;
        background-repeat: no-repeat, repeat;
        
        background-size:cover; 
    
        height: 100%;
        align-items: center;
        
        
        overflow: auto;
    
        
        justify-content: center;
       
    }
    .top_container h1{
        font-size: 60px;
        color: white;
        text-align: center;
        align-content: center;
        padding: 1%;
        font-family: Serif;
        text-shadow: 3px 3px 3px black;
    
        margin-top: 3%;
        margin-bottom: 0px;
        
        font-family: 'Oswald', sans-serif;
        
        float: center;
    
        
        font-size: 4.5vw;
        
        
      
        
        
    }
    .top_container h3{
        color: white;
        font-size: 3vw;
        margin-top: 0px;
        
    
        font-family: 'Oswald', sans-serif;
        text-shadow: 3px 3px 3px black;
    }
    
    
    
    a:hover{
    color: white;
    cursor: pointer;
    }
    
    /* First paragraph ========================================================================= */
    .first{
       
        box-shadow: 3px 3px 20px #888888;
        z-index: 1;
    
        margin-top: 0px;
        margin-bottom: 25px;
        margin-left: 0px;
        margin-right: 0px;
        
        
    
        display: flex;
        justify-content: center;
        align-items: center;
    
    
        color: white;
        padding-left: 2%;
        padding-right: 2%;
        min-height: 150px;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
    
        box-shadow: 3px 3px 20px #888888;
    
      
       
     background-image: url("blurbred.jpg");
        background-color: #f75727;
        background-repeat: no-repeat, repeat;
        
        background-size:cover; 
        
        
        
    }
    .first h3{
        text-align: center;
        line-height: 1.5;
        font-size: 1.5vw;
        
        margin-top: 2%;
        margin-bottom: 2%;
      
     
    }
    
    
        
    
    
    
    /* Second paragraph ========================================================================= */
    .second{
        margin-bottom: 25px;
        margin-left: 5px;
        margin-right: 5px;

        height: 30vw;
        
       

    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    
        overflow: auto;
    
       
    
        background-color: white;
        color: rgb(121, 116, 116);
        
        box-shadow: 3px 3px 20px #888888;
    
    }
    .fa-fire-extinguisher{
        font-size: 400%;
    }
    .second img{
        border-radius: 0px 0px 0px 0px;
       
        flex-grow: 1;
    
        width: 40%;
        height: 100%;
        
        object-fit: cover;
        
        border-radius: 0px 00px 0px 400px;
        
    
    
    }
    .second h3{
        flex-grow: 2;
    
        min-width: 40%;
        position: relative;
     
     
         margin-left: auto;
         text-align: center;
         padding-top: 10px;
         padding-bottom: 25px;
         padding-left: 30px;
         padding-right: 30px;
    
         font-size: 1.5vw;
       
        }
    
     /* Third paragrap ========================================================================= */
    
     .third{
        margin-bottom: 25px;
        margin-left: 5px;
        margin-right: 5px;

        height: 30vw;
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      
        overflow: auto;
    
        min-height: 200px;
    
    
        background-color:white;
        color: rgb(121, 116, 116);
    
        box-shadow: 3px 3px 20px #888888;
    
    
    }
    .fa-clipboard{
        font-size: 400%;
    }
    
    .third img{
    
        
        border-radius: 0px 0px 0px 0px;
        min-height: 200px;
        flex-grow: 1;
    
        width: 40%;
        height: 100%;
        
        object-fit: cover;

        border-radius: 00px 0px 400px 0px;
        
        }
    .third h3{
        flex-grow: 2;
    
        min-width: 40%;
        position: relative;
     
     
         margin-left: auto;
         text-align: center;
         padding-top: 10px;
         padding-bottom: 25px;
         padding-left: 30px;
         padding-right: 30px;
    
         font-size: 1.5vw;
     
    }
    
      /* photoes ================================================================================== */
    .photos{
        margin-top: 60px;
     display: flex;
     align-items: center;
     align-content: center;
     flex-wrap: wrap;
     flex-direction: row;
     justify-content: space-evenly;
     
     
    } 
    
    .image2{
        
        margin: 0mm;
       
        border-radius: 30px;
        box-shadow: 3px 3px 20px #888888;

        width: auto;
        height: 350px;
       

       
    
     }
        
     button{
         width: 50px;
         height: 50px;
     }
     .w3-content,.w3-auto{margin-left:auto;margin-right:auto}.w3-content{max-width:980px}.w3-auto{max-width:1140px}
     .w3-display-container:hover .w3-display-hover{display:block}.w3-display-container:hover span.w3-display-hover{display:inline-block}.w3-display-hover{display:none}
     .w3-display-container{position:relative}
    
    
     .w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
     .w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
    
    
    
    
      /* logos =================================================================================================== */
    .image1{
        padding: 10px;

        width: auto;
        height: 150px;
        

    }
    
    .logos{
    
        margin-left: auto;
        margin-right: auto; 
        margin-top: 50px;
        display: flex;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 5px;
    
        background-image: url("first_background2.bmp");
        background-color:black;
        background-repeat: no-repeat, repeat;
        
        background-size:cover; 
       
    
      
    }
    .logos:hover{
        cursor: pointer;
    }
    
    
    
    /* footer =================================================================================================== */
    footer{
   
        bottom: 0;
        width: 100%;
        height: 60px;
        background-color:#ff6739;
        opacity: 100%;
        color: white;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    footer div{
        text-align: center;
        
    
    }
    

    


       
    
.contacts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    justify-content: space-around;
    align-items: baseline;
    align-content: space-around;
    
    

}

.phone{

display: flex;
flex-direction: column;
flex-wrap: wrap;

justify-content: space-around;
align-items: flex-start;
align-content: space-around;

font-size: 1.2vw;



margin: 2%;
}

.address{
   
    
    font-size: 1.5vw;
    font-size: 1.2vw;

}

.fa-envelope-open-text .fa-phone .fa-envelope-open-text .fa-map-marker-alt{
    font-size: 30px;
}
    
.fa-facebook {
    background: #3B5998;
    color: white;
    font-size: 7vw;
    padding: 10px;
  font-size: 25px;
  width: 30px;
  height:30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  }

  .fa:hover {
    opacity: 0.7;
}
    
    
      /* JUST REWFERENCE ============================================================ */
       listcontainer{
        display: flex;
        list-style-type: none;
        flex-flow: row wrap;
        text-align: center;
        justify-content: center;
        margin-left: 250px;
        margin-right: 250px; 
        text-align: center; 
    }
    
    
    